@charset "utf8";
/* --需要兼容的属性-- */
/*默认参数*/
/* --需要兼容的属性-- */
/*border*/
/*border*/
/* -- 过渡 开始 -- */
/* -- 过渡 结束 -- */
/*多列布局*/
.bgd1 {
  background: #8cc540;
}
.bgd2 {
  background: #09b3cd;
}
.bgd3 {
  background: #b4c304;
}
.bgd4 {
  background: #d55401;
}
.bgd7 {
  background: #c14749;
}
.bgd5 {
  background: #485f00;
}
.bgd6 {
  background: #92278f;
}
.header {
  height: 60px;
  background: #1e3e57;
  z-index: 999;
}
.header h3 {
  line-height: 60px;
}
.main {
  height: calc(100% - 60px);
  min-width: 450px;
}
.sideBar {
  z-index: 100;
  width: 15%;
  background: #1e3e57;
}
/*左侧*/
.budianDlg {
  padding: 10px;
  left: 0;
  transition: all 0.2s linear 0.1s;
  -webkit-transition: all 0.2s linear 0.1s;
  -moz-transition: all 0.2s linear 0.1s;
  -ms-transition: all 0.2s linear 0.1s;
  -o-transition: all 0.2s linear 0.1s;
}
.budianDlg:nth-of-type(1) a {
  display: block;
  width: 76%;
  background: #c14749;
  margin-top: 5px;
  line-height: 50px;
  vertical-align: middle;
  margin-left: calc(12%);
}
.budianDlg:nth-of-type(1) a:hover {
  background: rgba(193, 71, 73, 0.9);
}
.budianDlg .contact {
  display: block;
  width: 88%;
  line-height: 50px;
  background: #c14749;
  text-indent: 10px;
}
/*右侧*/
.slide {
  width: 85%;
}
.slide:hover .slider-prev,
.slide:hover .slider-next {
  opacity: 1;
}
.slide,
.sideBar {
  margin-top: 60px;
}
::-webkit-scrollbar {
  width: 10px;
}
/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
  background-color: rgba(30, 62, 77, 0.3);
}
/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  background-color: rgba(72, 95, 0, 0.9);
}
/* 滑块颜色 */
/* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
  background-color: black;
}
/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
.List {
  left: 0;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transition: all 0.2s linear 0.1s;
  -webkit-transition: all 0.2s linear 0.1s;
  -moz-transition: all 0.2s linear 0.1s;
  -ms-transition: all 0.2s linear 0.1s;
  -o-transition: all 0.2s linear 0.1s;
}
.ListItem {
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.ListItem.curr {
  opacity: 1;
  z-index: 1;
}
.ListItem:nth-of-type(1) img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.9), 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 0 0 8px rgba(255, 255, 255, 0.9);
}
.ListItem .ListItem-content {
  height: 40%;
  min-height: 400px;
  margin-top: 15%;
  /*发现top值是剩余(100% - 40%)/2*/
}
.ListItem .ListItem-content > * {
  margin-top: 10px;
}
.ListItem .ListItem-content.home,
.ListItem .ListItem-content.work {
  height: 50%;
  margin-top: 12.5%;
}
.ListItem .ListItem-content.selfEvaluation,
.ListItem .ListItem-content.skills {
  height: 60%;
  margin-top: 10%;
}
.ListItem .ListItem-content.selfEvaluation p,
.ListItem .ListItem-content.skills p {
  text-align: left;
  text-indent: 1em;
  margin: 6px auto 6px 15%;
  background: rgba(241, 89, 42, 0.8);
  border-left: 3px solid #b14649;
  padding-right: 5px;
}
.ListItem .ListItem-content.projects {
  height: 80%;
  margin: 4% auto;
  /*margin值左右是/2,上下是/4, margin-top和margin-bottom值会叠加*/
}
.ListItem .ListItem-content.projects ul {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}
.ListItem .ListItem-content.projects .project-item {
  padding: 20px;
  width: 80%;
  background: #0a646d;
  margin: 5% 5% 0 5%;
}
.ListItem .ListItem-content.projects .project-item.project-item:nth-of-type(1) {
  margin: 1% 5%;
}
.ListItem .ListItem-content.projects .project-item > div * {
  line-height: 30px;
}
.ListItem .ListItem-content.selfEvaluation p {
  background: #c14749;
  width: 60%;
  border-left: 3px solid #c1392b;
  margin: 6px auto 6px 20%;
}
.ListItem .ListItem-content.work p {
  width: 80%;
  margin: 0 auto 10px 15%;
}
.ListItem .ListItem-content.work p span {
  text-align: left;
  width: 50%;
  margin: 0 auto 10px 25%;
}
.slideTrigger {
  width: 30px;
  margin: 0 auto;
  left: 30px;
}
.slideTrigger ul {
  height: 240px;
  width: 30px;
  top: 50%;
  margin-top: -120px;
}
.slideTrigger li {
  margin-top: 10px;
}
.slideTrigger li a {
  width: 30px;
  line-height: 30px;
  border: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.2s linear 0.1s;
  -webkit-transition: all 0.2s linear 0.1s;
  -moz-transition: all 0.2s linear 0.1s;
  -ms-transition: all 0.2s linear 0.1s;
  -o-transition: all 0.2s linear 0.1s;
}
.slideTrigger li a:hover {
  color: #fff;
}
.slideTrigger li.curr a {
  background: #c14749;
  color: #fff;
}
.slider-next,
.slider-prev {
  width: 100%;
  line-height: 60px;
  opacity: 0;
  z-index: 4;
  left: 50%;
  margin-left: -50%;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  background: rgba(0, 0, 0, 0.2);
}
.slider-next:hover,
.slider-prev:hover {
  background: rgba(0, 0, 0, 0.4);
}
.slider-prev {
  top: 0;
}
.slider-next {
  bottom: 0;
}
.ctl-btn {
  width: 80px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.2);
  top: 70px;
  left: 20px;
  z-index: 99;
  color: #999;
}
.ctl-btn:hover {
  color: #fff;
}
