<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/page_index.css">
    <script src="../static/js/org/jquery-2.1.3.min.js"></script>
    <script src="../static/js/module/index.js"></script>
    <script src="../static/js/module/common.js"></script>
    <script src="../static/js/module/base.js"></script>
    <title>大街网_预见新自己！</title>

</head>
<body class="bgdf3f5f8">
<div class="header mw960 h47 w_100">
    <div class="w960 lh100 tr mbc">
        <span class="headerL block h30 w110 mt8 pr fl "></span>
        <span class="mt16 block pr fr fc657384 ffMy f12">
             没有帐号 ?
            <a href="#" class="fc22aabb no_unl f12">立即注册</a>
        </span>
    </div>

</div>

<div class="banner w_100 h536 mw960">
    <div class="w960 h_100 lh100 mbc tl">

        <div class="w_50 pr fl">
            <div class="w_100 h110 pr tp58">
                <h1 class="ffMy fcWhite f42 fn">中国职业社交网站缔造者</h1>
                <h4  class="mt32 ffMy fcWhite f25 fn">在这里，链接<span class="ffMy fcff9d28">30,000,000+</span>职场精英</h4>
            </div>
            <div id="_showHead" class="w_100 h315 pr tp62 tc">
                <div class="showHead showHeadItem1"></div>
                <div class="showHead showHeadItem2"></div>
                <div class="showHead showHeadItem3"></div>
            </div>
        </div>

        <div class="w_50 pr fr">
            <div class="w_100 h20 tr">
                <a href="#" class="qiye inlineBlock tl w176 pr fcWhite no_unl" >企业招聘服务入口</a>
            </div>
            <div class="loginDlg w360 h440 pr fr bdr8">
                <div class="mbc w310 h34 ffMy f18 fc333 mt26 lh100">登录大街网</div>
                <div class="mbc w310 mt5">
                    <input type="text" class="_input  bgdTransparent bddce0e7 bdr4 w291 h30 ffMy f12 fc333 outNone" placeholder="邮箱/手机号" >
                </div>
                <div class="mbc w310 mt15">
                    <input type="password" class="_input bgdTransparent bddce0e7 bdr4 w291 h30  ffMy f12 fc333 outNone" placeholder="密码">
                </div>
                <div class="mbc w310 mt15">
                    <input type="button" class="_input_Btn bdr4 outNone tc w_100 h46 outNone fcWhite f18 ffMy" value="立即登录" >
                </div>
                <div class="mbc w310 mt11">
                    <div class="staylogin">
                        <span class="_chbx w16 h16 inlineBlock"></span>
                        <span class="pr tp-3 lt-4 fc657384 ffMy f12">保持登录状态</span>
                    </div>

                    <a href="#" class="pr tp0 fr rt3 fc999 ffMy f12 no_unl">忘记密码 ?</a>
                </div>

                <div class="_otherAuth w310 h110 mbc pr">
                    <span class="w_100 inlineBlock lh100 tc fc999 ffMy f12 pr tp23">使用其他帐号登录大街网</span>
                    <div class="w_100 tc">
                        <a href="http://www.dajie.com/account/rr/login?d.from=login" class="auth authItem1 w43 h43"></a>
                        <a href="http://www.dajie.com/account/sina/login?d.from=login&d.cb=r0" class="auth authItem2 w43 h43"></a>
                        <a href="http://www.dajie.com/account/qq/login?d.from=login" class="auth authItem3 w43 h43"></a>
                        <a href="http://www.dajie.com/account/kx/login?d.from=login" class="auth authItem4 w43 h43"></a>
                    </div>

                </div>
            </div>



        </div>

    </div>
</div>

<div class="w960 mbc">
    <div id="_firstHead" class="w_100 h386 clearFix">
        <div class="w_50 pr fl lt-2 tp50 ">
            <div class="firstStep pa w386 h386 lt2">
                <div class="firstStepCenter pa w243 h324 bt0 lt70"></div>
            </div>

            <div class="firstStepRight pa w71 h71 tp33 rt136"></div>
            <div class="firstStepLeft pa w76 h71 bt20 lt50"></div>
        </div>
        <div class="firstStepTitle w_40 pr fr">
            <h2 class="ml7 ffMy f32 fn fc375c84">打造职业形象</h2>
            <h4 class="ml7 mt15 ffMy f18 fn fc737373">创建职业档案，持续展示自己的优势</h4>
        </div>
    </div>

    <div id="_secondHead" class="w_100 h386 clearFix">
        <div class="w_50 pr fr lt-2 tp50 ">
            <div class="secondStep pa w386 h386 lt2 mbc">
                <div class="secondStepCenter pa w243 h324"></div>
            </div>
            <div class="secondStepBg secondStepYou pa w90 h90 "></div>
            <div class="secondStepBg secondStep1 pa w80 h80 "></div>
            <div class="secondStepBg secondStep2 pa w80 h80 "></div>
            <div class="secondStepBg secondStep3 pa w80 h80"></div>
            <div class="secondStepBg secondStep4 pa w80 h80"></div>
            <div class="secondStepBg secondStep5 pa w80 h80"></div>
        </div>
        <div class="secondStepTitle w_40 pr fl">
            <h2 class="ml70 ffMy f32 fn fc375c84">收获职业机会</h2>
            <h4 class="ml70 mt15 ffMy f18 fn fc737373">好机会主动找上你，成就职业成功</h4>
        </div>
    </div>

    <div id="_thirdHead" class="w_100 h386 clearFix">
        <div class="w_50 pr fl tp202 ">
            <div class="thirdStep pa"></div>
            <div class="thirdStepYou pa w99 h121"></div>
            <div class="thirdStep1 pa w99 h121"></div>
            <div class="thirdStep2 pa w99 h121"></div>
            <div class="thirdStep3 pa w99 h121"></div>
            <div class="thirdStep4 pa w99 h121"></div>
            <div class="thirdStep5 pa w99 h121"></div>

        </div>
        <div class="thirdStepTitle w_40 pr fr">
            <h2 class="ml7 ffMy f32 fn fc375c84">拓展行业人脉</h2>
            <h4 class="ml7 mt15 ffMy f18 fn fc737373">结识更多有价值的人，提高人脉影响力</h4>
        </div>
    </div>


    <div id="_fourthHead" class="w_100 h386 clearFix">
        <div class="w_50 pr fr lt-2 tp105">
            <div class="fourthStep pa w386 h386 lt2 mbc"></div>
            <div class="fourthStepPointer pa"></div>
            <div class="fourthStepBg fourthStep1 pa"></div>
            <div class="fourthStepBg fourthStep2 pa"></div>
            <div class="fourthStepBg fourthStep3 pa"></div>
            <div class="fourthStepBg fourthStep4 pa"></div>
            <div class="fourthStepBg fourthStep5 pa"></div>
            <div class="fourthStepBg fourthStep6 pa"></div>
            <div class="fourthStepBg fourthStep7 pa"></div>
        </div>
        <div class="fourthStepTitle w_40 pr fl">
            <h2 class="ml70 ffMy f32 fn fc375c84">提高个人技能</h2>
            <h4 class="ml70 mt15 ffMy f18 fn fc737373">获取行业洞察，并让自己更专业</h4>
        </div>
    </div>
</div>

<div id="_recommendHead" class="recommendPeople pr w_100 h636">
    <div class="recommendPeopleMask pa w_100"></div>
    <div class="w960 mbc">
        <div class="w_100 mt49 ml-1 mbc tc f28 fb fc333"><span>他们推荐你使用大街网</span></div>

        <div class="w_100 h386 tl pr tp47 clearFix">

            <div class="w300 h_100 bgdWhite pr fl">
                <img src="../static/images/ymh-pic.jpg" width="300px" height="336px">
                <span class="recommendPeopleQuote pa h22 block ffMy fcWhite f12">有人脉工作有色彩</span>
                <div class="recommendPeopleTitle w_100 h85 bgdWhite">
                    <span class="ffMy fb fc333 f18 block mt7">俞敏洪</span>
                    <h4 class="ffMy f14 fn fcc2c4c7 mt6">新东方教育集团</h4>
                    <h4 class="ffMy f14 fn fcc2c4c7 mt1">董事长/CEO</h4>
                </div>
            </div>

            <div class="w300 h_100 bgdWhite  pr fl lt30">
                <img src="../static/images/lj-pic.jpg" width="300px" height="336px">
                <span  class="recommendPeopleQuote pa h22 block ffMy fcWhite f12">成功要勤奋 还需要有人脉</span>
                <div class="recommendPeopleTitle w_100 h85 bgdWhite">
                    <span class="ffMy fb fc333 f18 block mt7">雷军</span>
                    <h4 class="ffMy f14 fn fcc2c4c7 mt6">小米公司</h4>
                    <h4 class="ffMy f14 fn fcc2c4c7 mt1">董事长/CEO</h4>
                </div>
            </div>

            <div class="w300 h_100 bgdWhite pr fl lt60">
                <img src="../static/images/cws-pic.jpg" width="300px" height="336px">
                <span class="recommendPeopleQuote pa h22 block ffMy fcWhite f12">建立人脉 预见新自己</span>
                <div class="recommendPeopleTitle w_100 h85 bgdWhite">
                    <span class="ffMy fb fc333 f18 block mt7">蔡文胜</span>
                    <h4 class="ffMy f14 fn fcc2c4c7 mt6">4399董事长</h4>
                    <h4 class="ffMy f14 fn fcc2c4c7 mt1">著名天使投资人</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w_100 h255 bgdWhite">
    <div class="w960 h_100 mbc tc">
        <h3 class="ffMy f27 fc333 block pr tp50 fn">与大街网同行</h3>
        <div class="friendsLink pr tp50 clearFix tl">
            <a href="javascript:void(0)">友情链接：</a>
            <a href="javascript:void(0)">21CN教育</a>
            <a href="javascript:void(0)">新东方</a>
            <a href="javascript:void(0)">中公公务员网</a>
            <a href="javascript:void(0)">卓博人才网</a>
            <a href="javascript:void(0)">2015校园招聘</a>
            <a href="javascript:void(0)">鳗鱼亲子活动</a>
            <a href="javascript:void(0)">免费招聘信息</a>
            <a href="javascript:void(0)">中大网校</a>
            <a href="javascript:void(0)">服装人才网</a>
            <a href="javascript:void(0)">易考吧</a>
            <a href="javascript:void(0)">中华网考试</a>
            <a href="javascript:void(0)">大街招聘</a>
            <a href="javascript:void(0)">中小学教育</a>
            <a href="javascript:void(0)">中华考试网</a>
            <a href="javascript:void(0)">职场问答</a>
            <a href="javascript:void(0)">高考学优网</a>
            <a href="javascript:void(0)">山东招聘网</a>
            <a href="javascript:void(0)">广州人才网</a>
            <a href="javascript:void(0)">职友集</a>
            <a href="javascript:void(0)">马可波罗</a>
            <a href="javascript:void(0)">公务员考试网</a>
            <a href="javascript:void(0)">考研网</a>
            <a href="javascript:void(0)">读书人网</a>
            <a href="javascript:void(0)">学科网</a>
            <a href="javascript:void(0)">无忧考网</a>
            <a href="javascript:void(0)">新疆人才网</a>
            <a href="javascript:void(0)">汕头招聘网</a>
            <a href="javascript:void(0)">中国美术高考网</a>
            <a href="javascript:void(0)">爱思英语网</a>
            <a href="javascript:void(0)">雨露教育网</a>
            <a href="javascript:void(0)">出国留学</a>
            <a href="javascript:void(0)">美容招聘网</a>
            <a href="javascript:void(0)">徐州英才网</a>
            <a href="javascript:void(0)">在线翻译</a>
            <a href="javascript:void(0)">奥数网</a>
            <a href="javascript:void(0)">中考网</a>
            <a href="javascript:void(0)">中研网</a>
            <a href="javascript:void(0)">中国散文网</a>
            <a href="javascript:void(0)">数字英才网</a>
            <a href="javascript:void(0)">学习网</a>
            <a href="javascript:void(0)">作文网</a>
            <a href="javascript:void(0)">留学网</a>
            <a href="javascript:void(0)">在线英语听力教室</a>
            <a href="javascript:void(0)">教育联展网</a>
            <a href="javascript:void(0)">义乌人才网</a>
            <a href="javascript:void(0)">更多>></a>
        </div>

    </div>
</div>

<div class="tail w_100">
    <div class="w960 h_100 mbc tc">
        <span class="tailText  inlineBlock pr fl w_50 f12 ffMy fc999">
            ©2008-2015 大街网&nbsp;|&nbsp;
            <a href="#">京ICP备09028813号-1</a> &nbsp;|&nbsp;
            京公网安备11010802008965
        </span>
        <span class="tailText  inlineBlock pr fr w_50  f12 ffMy">
            <a href="#">关于</a>&nbsp;|&nbsp;
            <a href="#">手机版</a>&nbsp;|&nbsp;
            <a href="#">职位</a>&nbsp;|&nbsp;
            <a href="#">公司</a>&nbsp;|&nbsp;
            <a href="#">人脉</a>&nbsp;|&nbsp;
            <a href="#">行业</a>&nbsp;|&nbsp;
            <a href="#">微招聘渠道招商</a>&nbsp;|&nbsp;
            <a href="#">意见反馈</a>&nbsp;|&nbsp;
            <a href="#">服务与声明</a>
        </span>
    </div>
</div>
<div class="fixToolBar">
    <a href="javascript:void(0)" id="goTop" class="toolBar goTop" title="返回顶部"></a>
    <a href="javascript:void(0)" id="response" class="toolBar yijian" title="意见反馈"></a>
</div>

<div class="floatBar">
    <a href="javascript:void(0)" class="closeX pa tc ffMy no_unl inlineBlock fcWhite" title="关闭此窗口">X</a>

    <p class="ffMy f16 fcWhite lh_30 mt11 tint10">
        更多项目请访问我的Github:
        <a href="https://github.com/IChocolateKapa" target="_blank" title="github地址" class="lh_30 fcWhite inlineBlock no_unl">
            https://github.com/IChocolateKapa
        </a>
    </p>
</div>

<script>
   /* if(window.localStorage){
        alert('This browser supports localStorage');
    }else{
        alert('This browser does NOT support localStorage');
    }*/
</script>
</body>
</html>
